* {
    font-family: Arial, Helvetica, sans-serif;
}

/* bootstrap custom start */
.bg-primary {
    background: rgb(14 165 233) !important;
}

.text-primary {
    color: rgb(14 165 233) !important;
}

.border-primary {
    border-color: rgb(14 165 233) !important;
}

.btn-outline-primary {
    border-color: rgb(14 165 233) !important;
    color: rgb(14 165 233) !important;
}

.btn-outline-primary:hover {
    background: rgb(14 165 233) !important;
    color: var(--bs-light) !important;
}

.btn-outline-light:hover {
    color: rgb(14 165 233) !important; 
}

.btn-primary {
    background: rgb(14 165 233) !important;
    border: rgb(14 165 233) !important;
}

.btn-primary:hover {
    background: rgb(2 132 199) !important;
    border: rgb(2 132 199) !important;
}

.text-warning {
    color: #FCB316 !important;
}

.btn-close {
    filter: invert(1) !important;
}
/* bootstrap custom end */

/* nav start */
.navbar {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}

.navbar .nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; 
    color: rgb(125 211 252) !important;
    transition: color 0.3s ease-in-out;

}

.navbar .nav-item .active {
    color: rgb(14 165 233) !important;
}

.navbar .nav-link:not(.active)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; 
    background-color: rgb(14 165 233); 
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.navbar .nav-link:not(.active):hover::after {
    width: 90%;
}

.navbar .nav-link:not(.active):hover {
    color: rgb(14 165 233) !important; 
}

#sidebar {
    width: 280px;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 1100;
}

#sidebar.show {
    transform: translateX(0);
}

#sidebar .nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; 
    color: rgb(125 211 252) !important;
    transition: color 0.5s ease-in-out;

}

#sidebar .nav-item .active {
    color: #fff !important;
}

#sidebar .nav-link:not(.active):hover {
    color: #fff !important; 
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1099;
    transition: opacity 0.5s ease;
}
/* nav end */

/* home start */
.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.4s ease;
}

.service-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 50, 0.6); /* Semi-transparent service-overlay */
    transition: opacity 0.4s ease;
    opacity: 0;
}

.card:hover .service-overlay {
    opacity: 1;
}

.card-services {
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(14 165 233); /* Primary color */
    color: #fff;
    transition: transform 0.4s ease;
    transform: translateY(74%);
}

.card:hover .card-services {
    transform: translateY(0);
}

.btn-services {
    opacity: 0;
    position: absolute;
    bottom: 60%;
    right: 29.7%;
    transition: opacity 0.5s ease;
}

.card:hover .btn-services {
    opacity: 100%;
    transition: opacity 0.5s ease;
}

.arrow-services {
    transition: transform 0.4s ease;
}

.card:hover .arrow-services {
    transform: rotate(90deg);
    transition: transform 0.4s ease;
}

.text-truncate-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-justify {
    text-align: justify;
}

.shadow-btn {
    box-shadow: -2px 3px 0 0 rgb(14 165 233);
}

.shadow-btn:hover {
    box-shadow: none;
    transition: box-shadow 0.4s ease
}
/* home end */

/* footer */
footer a.nav-link:hover {
    text-decoration: underline;
}
/* footer */

/* sign in start */
.form-group {
    position: relative;
    transition: all 0.3s ease;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-control:focus {
    outline: none;
    box-shadow: none; 
    border-color: rgb(14 165 233); 
}

.form-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: #6c757d;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
    top: -10px;
    left: 0.3rem;
    font-size: 0.7rem !important;
    color: rgb(14 165 233);
}

.form-label {
    cursor: text;
}

.form-check {
    cursor: pointer;
}

.form-check-label {
    cursor: pointer;
}

.form-check-input {
    cursor: pointer;
    outline: none !important;
    box-shadow: none !important;
}

.form-check-input:checked {
    background-color: rgb(2 132 199); 
    border-color: rgb(2 132 199); 
}

.form-check-input:checked + .form-check-label::before {
    background-color: rgb(2 132 199); 
}

.fs-small {
    font-size: small !important;
}

.fs-smaller {
    font-size: 12px !important;
}

/* sign in end */

#sidebar-mcu .active {
    color: #fff !important;
}

#sidebar-mcu .nav-link:hover {
    color: #fff !important;
}

.ag-theme-quartz .ag-header-cell, .ag-header-cell .ag-icon {
    background: rgb(2 132 199);
    color: #fff !important;
}

.ag-theme-quartz .ag-header-cell:hover, .ag-header-cell .ag-icon:hover {
    background: rgb(2 132 199) !important;
    color: #fff !important;
}

.ag-theme-quartz .ag-row:nth-child(even) {
    background-color: #eaf7ff;
}

.ag-theme-quartz .ag-row:nth-child(odd) {
    background-color: #fff;
}

.ag-theme-quartz .ag-row:hover {
    background-color: rgb(125 211 252);
    color: #fff;
}

#sidebar-mcu {
    transform: translateX(0);
    transition: transform 0.5s ease;
    z-index: 10;
}

.sidebar-mcu-deactive {
    transform: translateX(-100%) !important;
}

.header-mcu {
    padding-left: 15.2rem;
    width: calc(100% - 15.2rem);
    transition: padding-left 0.5s ease, width 0.5s ease;
}

.header-mcu-active {
    padding-left: 0 !important;
    width: 100%;
}

.swal2-container {
    z-index: 9999 !important;
}
/* 
.swal2-confirm {
    background-color: rgb(14 165 233) !important;
    border: rgb(14 165 233) !important;
} */

@media only screen and (max-width: 768px) {
    #sidebar-mcu {
        position: fixed !important;
        z-index: 1200;
    }

    .ag-paging-row-summary-panel {
        display: none;
    }
    
    .header-mcu {
        padding-left: 0;
        width: 100%;
    }
    
    .header-mcu-active {
        padding-left: 0 !important;
        width: 100%;
    }

    .navbar .nav-link:not(.active):hover::after {
        width: 0%;
    }

    #signin-form {
        width: 85% !important;
    }

    #signup-form {
        width: 85% !important;
    }
}