{% extends "MCU/base.html" %}

{% block title %}
Doctor - Dashboard
{% endblock %}

{% block content %}
<section class="w-100 px-4 pt-5 pt-md-3">
    <h5 class="fw-bold fs-md-4 fs-5 text-center">Welcome, dr. <span class="text-primary">{{ user.first_name }} {{ user.last_name }}</span></h5>

    <div class="d-flex w-100 justify-content-between align-items-center mt-4 mb-2 gap-3">
        <form id="form-search" method="GET" autocomplete="off" action="{% url 'DoctorDashboard' %}" class="d-flex align-items-center w-100">
            <div class="form-group w-100 pe-1">
                <input type="search" class="form-control fs-small" id="search" name="q" placeholder=" " maxlength="150" value="{{ query|default:'' }}"/>
                <label for="search" class="form-label fs-small bg-white px-1">Search Schedule</label>
            </div>
            <button type="submit" class="btn btn-primary fs-small fw-bold"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div id="myGrid" class="ag-theme-quartz d-none" style="height: 60vh; width: 100%;"></div>

    <div id="loading-spinner" class="d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</section>

{% include "Doctor/modalDoctor.html" with modal_id="result-modal" modal_title="Finish MCU Result" modal_input="result-input" modal_cancel_id="btn-cancel-result" modal_submit_id="btn-submit-result" modal_submit="Save Result"%}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let updateID;
        function formatDate(params) {
            const date = new Date(params.value);
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            return date.toLocaleDateString('en-GB', options);
        }

        var regisData = JSON.parse('{{ regis_data|safe }}');

        var formattedData = regisData.map(item => ({
            id: item.pk,
            name: item.name,
            no_antrean: item.no_antrean,
            date: item.date
        }));

        var gridOptions = {
            columnDefs: [
                {
                    headerName: '#',
                    valueGetter: 'node.rowIndex + 1',
                    width: 65,
                    filter: false,
                },
                {
                    headerName: 'Name',
                    field: 'name',
                    flex: 1,
                    minWidth: 250
                },
                {
                    headerName: 'Queue',
                    field: 'no_antrean',
                    sortable: false,
                    width: 150,
                },
                {
                    headerName: 'Date',
                    field: 'date',
                    flex: 1,
                    minWidth: 250,
                    valueFormatter: formatDate
                },
                {
                    headerName: 'Action',
                    cellRenderer: function (params) {
                        var updateButton = document.createElement('button');
                        updateButton.innerHTML = '<i class="fas fa-edit"></i>';
                        updateButton.className = 'btn btn-success py-1';
                        updateButton.addEventListener('click', function () {
                            updateID = params.data.id;
                            document.getElementById('result-modal-input-name').value = params.data.name;
                            openModal('result-modal');
                        });

                        var buttonContainer = document.createElement('div');
                        buttonContainer.appendChild(updateButton);

                        return buttonContainer;
                    },
                    filter: false,
                    sortable: false,
                    width: 150,
                }
            ],
            defaultColDef: {
                sortable: true,
                resizable: false,
                suppressMovable: true,
                filter: true
            },
            rowSelection: 'multiple',
            suppressRowClickSelection: true,
            rowData: formattedData,
            pagination: true,
            paginationPageSize: 20,
            getRowId: function(params) {
                return params.data.id;
            },
        };

        var eGridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(eGridDiv, gridOptions);

        document.getElementById('loading-spinner').classList.add('d-none');
        document.getElementById('myGrid').classList.remove('d-none');

        function openModal(id) {
            const myModal = new bootstrap.Modal(document.getElementById(id));
            myModal.show();
        }
        
        function closeModal(id) {
            const modalElement = document.getElementById(id);
            const myModal = bootstrap.Modal.getInstance(modalElement);
            if (myModal) {
                myModal.hide();
            }
        }

        document.getElementById('btn-cancel-result').addEventListener('click', ()=> {
            closeModal('result-modal');
        });

        document.getElementById('btn-cancel-result-header').addEventListener('click', ()=> {
            closeModal('result-modal');
        });

        document.getElementById('btn-submit-result').addEventListener('click', async ()=> {
            const result = document.getElementById('result-modal-input-result').value;
            const notes = document.getElementById('result-modal-input-notes').value;

            try {
                const response = await fetch('{% url "finishMcu" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ result: result, notes: notes, regis_id: updateID })
                });

                const data = await response.json();

                if (data.success) {
                    closeModal('update-modal');

                    const newRowData = {
                        id: data.regis_id,
                        date: data.date,
                        no_antrean: data.no_antrean
                    };
                    
                    const rowNode = gridOptions.api.getRowNode(data.regis_id);
                    
                    if (rowNode) {
                        gridOptions.api.applyTransaction({ update: [newRowData] });
                        await Swal.fire({
                            title: 'Successful!',
                            text: data.message,
                            icon: 'success',
                            confirmButtonText: 'Ok',
                            confirmButtonColor: '#0EA5E9',
                        });
                        location.reload();
                    } else {
                        await Swal.fire('Error!', 'Row not found!', 'error')
                    }

                } else {
                    await Swal.fire('Error!', data.message, 'error');
                }
            } catch (error) {
                console.error('Error finish MCU:', error);
                await Swal.fire('Error!', 'An unexpected error occurred.', 'error');
            }
        });
    });
</script>

<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
{% endblock %}