<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white py-2">
                <div class="d-flex justify-content-between w-100 align-items-center">
                    <h6 class="m-0 fw-bold" id="{{ modal_id }}-title">{{ modal_title }}</h6>
                    <button type="button" id="{{ modal_cancel_id }}-header" class="close btn btn-primary py-0 fs-4 px-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body py-3">
                <form class="d-flex flex-column gap-2">
                    <div class="d-flex gap-3 align-items-center">
                        <div class="form-group w-75">
                            <label for="{{ modal_id }}-input-name" class="ps-1 fw-semibold">Name</label>
                            <input id="{{ modal_id }}-input-name" type="text" class="form-control mt-1 bg-light" disabled="on">
                        </div>
                        <div class="form-group w-25">
                            <label for="{{ modal_id }}-input-result" class="ps-1 fw-semibold">Result</label>
                            <select name="{{ modal_id }}-input-result" id="{{ modal_id }}-input-result" class="form-select form-control mt-1" required>
                                <option value=""></option>
                                <option value="P1">P1</option>
                                <option value="P2">P2</option>
                                <option value="P3">P3</option>
                                <option value="P4">P4</option>
                                <option value="P5">P5</option>
                                <option value="P6">P6</option>
                                <option value="P7">P7</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ modal_id }}-input-notes" class="ps-1 fw-semibold">Notes</label>
                        <textarea class="form-control mt-1" id="{{ modal_id }}-input-notes" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="{{ modal_cancel_id }}" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="{{ modal_submit_id }}">{{ modal_submit }}</button>
            </div>
        </div>
    </div>
</div>