{% extends "MCU/base.html" %}

{% block title %}
About - Medical Check UP PT XXX
{% endblock %}

{% block content %}

<!-- AboutUs start -->
<section id="AboutUs" class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="fw-bold text-primary">ABOUT US</h2>
                <p class="mt-3 text-justify">
                    We are <span class="text-primary fw-bold">PT. XXX</span>, a leader in <span class="text-primary fw-bold">Medical Check-Up</span> services, committed to delivering high-quality healthcare solutions to individuals and organizations. Since our founding in 2000, we have been dedicated to providing accurate and reliable health assessments through our experienced team of doctors, technicians, and consultants.
                </p>
                <p class="mt-3 text-justify">
                    Our services are designed to meet the diverse needs of our clients, using <span class="text-primary fw-bold">advanced technology</span> to ensure precision and efficiency. We have built strong partnerships with leading companies across Indonesia, offering customized health screenings that align with industry standards.
                </p>
                <p class="mt-3 text-justify">
                    At PT. XXX, we believe in the value of preventive healthcare and are passionate about helping individuals and organizations proactively manage their health. Our goal is to offer personalized care that promotes long-term <span class="text-primary fw-bold">well-being</span> and <span class="text-primary fw-bold">productivity</span>.
                </p>
            </div>

            <div class="col-lg-6">
                <h2 class="fw-bold text-primary">VISI & MISI</h2>
                <h4 class="mt-3 fw-bold">Visi</h4>
                <p class="mt-2 text-justify">
                    Become the foremost provider of Medical Check-Up services in Indonesia, recognized for delivering accessible, high-quality healthcare solutions that promote long-term well-being for all segments of society.
                </p>

                <h4 class="mt-4 fw-bold">Misi</h4>
                <ol type="1" class="mt-2 text-justify">
                    <li>
                        Provide professional, friendly, and prompt service that prioritizes the needs of our clients.
                    </li>
                    <li>
                        Incorporate cutting-edge technology into our diagnostic services, ensuring precision and accuracy in every health assessment.
                    </li>
                    <li>
                        Raise public awareness on the importance of preventive healthcare, encouraging regular health check-ups as part of a healthier lifestyle.
                    </li>
                    <li>
                        Continuously innovate our services, adopting new methodologies that enhance the quality of our medical check-ups.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- AboutUs end -->

<!-- WhyChooseUs start -->
<section id="WhyChooseUs" class="py-5 bg-light">
    <div class="container py-5">
        <h1 class="text-center fw-bold text-primary">WHY CHOOSE US?</h1>
        <p class="lead mb-5 text-secondary text-center">Medical Check-Up Services at PT. XXX</p>
        <div class="d-flex flex-wrap justify-content-center gap-5">
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-4">
                    <i class="fa-solid fa-user-doctor" style="font-size: 100px; color: #FCB316;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Professionals</h5>
                    <p class="card-text py-3 text-secondary text-center">
                        Skilled and experienced team of doctors and health experts.
                    </p>
                </div>
            </div>
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-4">
                    <i class="fa-solid fa-microchip" style="font-size: 100px; color: #FCB316;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Cutting-Edge Technology</h5>
                    <p class="card-text py-3 text-secondary text-center">
                        Advanced tools for precise health assessments.
                    </p>
                </div>
            </div>
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-4">
                    <i class="fa-solid fa-users" style="font-size: 100px; color: #FCB316;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Customer-Centered</h5>
                    <p class="card-text py-3 text-secondary text-center">
                        Dedicated to personalized, quality care.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- WhyChooseUs end -->

<!-- Testimoni start -->
<section id="Testimonials" class="py-5">
    <div class="container py-5">
        <h2 class="text-center fw-bold text-primary">OUR TESTIMONIALS</h2>
        <p class="lead mb-5 text-secondary text-center"><i>What Our Clients Say About Us</i></p>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card p-4">
                    <p class="card-text text-truncate-4 text-justify">"From the moment I registered for my medical check-up, the process was seamless. The staff was professional, and the examination was thorough. I received my medical certificate quickly, and the entire experience exceeded my expectations."</p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-2">
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                        </div>
                        <strong>- Budi Santoso</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-4">
                    <p class="card-text text-truncate-4 text-justify">"The medical team at PT. XXX was incredibly attentive and made the check-up process so comfortable. Their facilities are top-notch, and I felt reassured knowing I was in good hands. I would definitely recommend their services to anyone seeking a comprehensive health assessment."</p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-2">
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                        </div>
                        <strong>- Indah Pratiwi</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimoni end -->

{% endblock %}