{% extends "MCU/layout/base.html" %}

{% block title %}
Dashboard - Medical Check UP PT XXX
{% endblock %}

{% block content %}
    <style>
        .opacity-animation {
            opacity: 0; 
            animation: fadeIn 20s forwards; 
        }
    
        @keyframes fadeIn {
            0% {
                opacity: 0; 
            }
            50% {
                opacity: 0; 
            }
            100% {
                opacity: 1; 
            }
        }
    </style>

    <section class="min-vh-100">
        <div class="d-flex flex-column gap-3 min-vh-100 justify-content-center align-items-center">
            <div class="spinner-border text-primary" role="status"></div>
            <h2 class="text-primary fw-bold opacity-animation">Nungguin yaaa</h2>
        </div>
    </section>
{% endblock %}