{% extends "MCU/base.html" %}

{% block title %}
MCU - Dashboard
{% endblock %}

{% block content %}
<section class="w-100 px-4 pt-5 pt-md-3">
    <h5 class="fw-bold fs-md-4 fs-5 text-center">Your MCU Dashboard, <span class="text-primary">{{ user.first_name }} {{ user.last_name }}</span></h5>
    <div class="d-flex w-100 justify-content-between align-items-center mt-4 mb-2 gap-3">
        <form id="form-search" method="GET" autocomplete="off" action="{% url 'UserDashboard' %}" class="d-flex align-items-center w-75">
            <div class="form-group w-100 pe-1">
                <input type="search" class="form-control fs-small" id="search" name="q" placeholder=" " maxlength="150" value="{{ query|default:'' }}"/>
                <label for="search" class="form-label fs-small bg-white px-1">Search Your Schedule</label>
            </div>
            <button type="submit" class="btn btn-primary fs-small fw-bold"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <button id="regis-mcu" class="btn btn-success fs-small d-flex align-items-center gap-2">Regis Now <i class="fa-solid fa-user-plus"></i></button>
    </div>

    <div id="myGrid" class="ag-theme-quartz d-none" style="height: 60vh; width: 100%;"></div>

    <div id="loading-spinner" class="d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</section>

{% include "MCU/modalMCU.html" with modal_id="regis-modal" modal_title="Registration MCU" modal_input="regis-input" modal_cancel_id="btn-cancel-regis" modal_submit_id="btn-submit-regis" modal_submit="Regis MCU"%}

{% include "MCU/modalMCU.html" with modal_id="update-modal" modal_title="Update MCU Schedule" modal_input="update-input" modal_cancel_id="btn-cancel-update" modal_submit_id="btn-submit-update" modal_submit="Update Schedule"%}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let updateID;

        function formatDate(params) {
            const date = new Date(params.value);
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            return date.toLocaleDateString('en-GB', options);
        }

        async function deleteRegistration(regisId, rowNode) {
            try {
                const result = await Swal.fire({
                    title: 'Are you sure?',
                    text: "Do you want to cancel your MCU registration?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#D93444',
                    cancelButtonColor: '#6C757D',
                    confirmButtonText: 'Yes, cancel it!'
                });

                if (result.isConfirmed) {
                    const response = await fetch('{% url "deleteRegis" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ regis_id: regisId })
                    });

                    const data = await response.json();

                    if (data.success) {
                        await Swal.fire({
                            title: 'Cancelled!',
                            text: 'Your registration has been cancelled.',
                            icon: 'success',
                            confirmButtonText: 'Ok',
                            confirmButtonColor: '#0EA5E9',
                        });

                        location.reload();
                    } else {
                        await Swal.fire('Error!', data.message, 'error');
                    }
                }
            } catch (error) {
                console.error('Error deleting registration:', error);
                await Swal.fire('Error!', 'An unexpected error occurred.', 'error');
            }
        }

        var regisData = JSON.parse('{{ regis_data|safe }}');

        var formattedData = regisData.map(item => ({
            id: item.pk,
            no_antrean: item.fields.no_antrean,
            date: item.fields.date
        }));

        var gridOptions = {
            columnDefs: [
                {
                    headerName: '#',
                    valueGetter: 'node.rowIndex + 1',
                    width: 65,
                    filter: false,
                },
                {
                    headerName: 'Date',
                    field: 'date',
                    flex: 1,
                    minWidth: 250,
                    valueFormatter: formatDate
                },
                {
                    headerName: 'Queue',
                    field: 'no_antrean',
                    sortable: false,
                    width: 150,
                },
                {
                    headerName: 'Action',
                    cellRenderer: function (params) {
                        var deleteButton = document.createElement('button');
                        deleteButton.innerHTML = '<i class="fas fa-trash"></i>';
                        deleteButton.className = 'btn btn-danger py-1 ms-2';
                        deleteButton.addEventListener('click', function () {
                            deleteRegistration(params.data.id, params.node);
                        });

                        var updateButton = document.createElement('button');
                        updateButton.innerHTML = '<i class="fas fa-edit"></i>';
                        updateButton.className = 'btn btn-warning py-1';
                        updateButton.addEventListener('click', function () {
                            document.getElementById('update-input').value = params.data.date;
                            updateID = params.data.id;
                            openModal('update-modal');
                        });

                        var buttonContainer = document.createElement('div');
                        buttonContainer.appendChild(updateButton);
                        buttonContainer.appendChild(deleteButton);

                        return buttonContainer;
                    },
                    filter: false,
                    sortable: false,
                    width: 150,
                }
            ],
            defaultColDef: {
                sortable: true,
                resizable: false,
                suppressMovable: true,
                filter: true
            },
            rowSelection: 'multiple',
            suppressRowClickSelection: true,
            rowData: formattedData,
            pagination: true,
            paginationPageSize: 20,
            getRowId: function(params) {
                return params.data.id;
            },
        };

        var eGridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(eGridDiv, gridOptions);

        document.getElementById('loading-spinner').classList.add('d-none');
        document.getElementById('myGrid').classList.remove('d-none');

        function openModal(id) {
            const myModal = new bootstrap.Modal(document.getElementById(id));
            myModal.show();
        }
        
        function closeModal(id) {
            const modalElement = document.getElementById(id);
            const myModal = bootstrap.Modal.getInstance(modalElement);
            if (myModal) {
                myModal.hide();
            }
        }

        document.getElementById('regis-mcu').addEventListener('click', ()=>{
            openModal('regis-modal')
        });

        document.getElementById('btn-cancel-regis').addEventListener('click', ()=> {
            closeModal('regis-modal');
        });

        document.getElementById('btn-cancel-regis-header').addEventListener('click', ()=> {
            closeModal('regis-modal');
        });

        document.getElementById('btn-cancel-update').addEventListener('click', ()=> {
            closeModal('update-modal');
        });

        document.getElementById('btn-cancel-update-header').addEventListener('click', ()=> {
            closeModal('update-modal');
        });
        
        document.getElementById('btn-submit-regis').addEventListener('click', async ()=> {
            const dateInput = document.getElementById('regis-input').value;

            try {
                const response = await fetch('{% url "regisMcu" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ date: dateInput })
                });

                const data = await response.json();

                if (data.success) {
                    closeModal('regis-modal');
                    const newRowData = {
                        id: data.regis_id,
                        date: data.date,
                        no_antrean: data.no_antrean
                    };
                    gridOptions.api.applyTransaction({ add: [newRowData] });

                    await Swal.fire({
                        title: 'Successful!',
                        text: 'Your registration has been scheduled.',
                        icon: 'success',
                        confirmButtonText: 'Ok',
                        confirmButtonColor: '#0EA5E9',
                    });

                    location.reload();
                } else {
                    await Swal.fire('Error!', data.message, 'error');
                }
            } catch (error) {
                console.error('Error adding schedule:', error);
                await Swal.fire('Error!', 'An unexpected error occurred.', 'error');
            }
        });
        
        document.getElementById('btn-submit-update').addEventListener('click', async ()=> {
            const dateInput = document.getElementById('update-input').value;

            try {
                const response = await fetch('{% url "updateRegis" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ date: dateInput, regis_id: updateID })
                });

                const data = await response.json();

                if (data.success) {
                    closeModal('update-modal');

                    const newRowData = {
                        id: data.regis_id,
                        date: data.date,
                        no_antrean: data.no_antrean
                    };
                    
                    const rowNode = gridOptions.api.getRowNode(data.regis_id);
                    
                    if (rowNode) {
                        gridOptions.api.applyTransaction({ update: [newRowData] });
                        await Swal.fire({
                            title: 'Successful!',
                            text: 'Your schedule has been updated.',
                            icon: 'success',
                            confirmButtonText: 'Ok',
                            confirmButtonColor: '#0EA5E9',
                        });
                        location.reload();
                    } else {
                        await Swal.fire('Error!', 'Row not found!', 'error')
                    }

                } else {
                    await Swal.fire('Error!', data.message, 'error');
                }
            } catch (error) {
                console.error('Error updating schedule:', error);
                await Swal.fire('Error!', 'An unexpected error occurred.', 'error');
            }
        });

    });
</script>

<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
{% endblock %}