{% extends "MCU/base.html" %}

{% block title %}
MCU - History
{% endblock %}

{% block content %}
<section class="w-100 px-4 pt-5 pt-md-3">
    <h5 class="fw-bold fs-md-4 fs-5 text-center">Your MCU History, <span class="text-primary">{{ user.first_name }} {{ user.last_name }}</span></h5>
    <div class="d-flex w-100 justify-content-between align-items-center mt-4 mb-2 gap-3">
        <form id="form-search" method="GET" autocomplete="off" action="{% url 'UserHistory' %}" class="d-flex align-items-center w-100">
            <div class="form-group w-100 pe-1">
                <input type="search" class="form-control fs-small" id="search" name="q" placeholder=" " maxlength="150" value="{{ query|default:'' }}"/>
                <label for="search" class="form-label fs-small bg-white px-1">Search Your MCU History</label>
            </div>
            <button type="submit" class="btn btn-primary fs-small fw-bold"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div id="myGrid" class="ag-theme-quartz d-none" style="height: 60vh; width: 100%;"></div>

    <div id="loading-spinner" class="d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        function formatDate(params) {
            const date = new Date(params.value);
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            return date.toLocaleDateString('en-GB', options);
        }

        var historyData = JSON.parse('{{ history_data|safe }}');

        var formattedData = historyData.map(item => ({
            id: item.pk,
            date: item.date,
            doctor: item.doctor,
            result: item.result,
            notes: item.notes,
            document: item.document,
            conclusion: item.conclusion
        }));

        var gridOptions = {
            columnDefs: [
                {
                    headerName: '#',
                    valueGetter: 'node.rowIndex + 1',
                    width: 65,
                    filter: false,
                },
                {
                    headerName: 'Doctor',
                    field: 'doctor',
                    flex: 1,
                    minWidth: 250
                },
                {
                    headerName: 'Result',
                    field: 'result',
                    width: 100
                },
                {
                    headerName: 'Conclusion',
                    field: 'conclusion',
                    flex: 1,
                    minWidth: 450
                },
                {
                    headerName: 'Notes',
                    field: 'notes',
                    flex: 1,
                    minWidth: 450
                },
                {
                    headerName: 'Date',
                    field: 'date',
                    flex: 1,
                    minWidth: 250,
                    valueFormatter: formatDate
                },
                {
                    headerName: 'No. Document',
                    field: 'document',
                    flex: 1,
                    minWidth: 190
                },
            ],
            defaultColDef: {
                sortable: true,
                resizable: false,
                suppressMovable: true,
                filter: true
            },
            rowSelection: 'multiple',
            suppressRowClickSelection: true,
            rowData: formattedData,
            pagination: true,
            paginationPageSize: 20
        };

        var eGridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(eGridDiv, gridOptions);

        document.getElementById('loading-spinner').classList.add('d-none');
        document.getElementById('myGrid').classList.remove('d-none');
    });
</script>

<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
{% endblock %}