{% extends 'MCU/base.html' %}

{% block title %}Home - MCU PT XXX{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="container px-4 py-5">
    <div class="d-flex flex-column flex-lg-row-reverse justify-content-between align-items-center py-5">
        <div class="col-lg-5">
            <img src="static/MCU/images/bgHero.png" class="d-block mx-auto img-fluid mb-2" alt="Medical Check Up PT XXX" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="fw-bold mb-1">Medical Check Up PT. XXX</h1>
            <p class="lead" style="text-align: justify;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque amet voluptatum ducimus
                voluptatibus tempora quam accusantium atque assumenda quod commodi aperiam perferendis reiciendis,
                blanditiis voluptas maxime ipsum! Dignissimos, velit iusto.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="#services" class="btn btn-primary btn-lg px-4 me-md-2 fw-semibold">See More</a>
            </div>
        </div>
    </div>
</section>

<!-- Sevices Section -->
<section id="services" class="py-5 bg-light">
    <div class="container py-2">
        <h1 class="text-center mb-4 fw-bold text-primary">Our Services</h1>
        <div class="d-flex flex-wrap justify-content-center gap-5">
            <div class="card rounded border" style="width: 18rem;">
                <img src="static/MCU/images/daftar.png" class="card-img-top" alt="MCU Registration">
                <div class="service-overlay"></div>
                <a href="#" class="btn px-4 btn-outline-light btn-services">See More</a>
                <div class="card-body rounded-bottom bg-light text-dark p-0">
                    <h5 class="card-title bg-primary px-3 py-2 text-light text-center fw-bold">Generate Your Certificate</h5>
                    <p class="card-text text-secondary px-3 pb-2 text-truncate-4" style="text-align: justify;">This Website Will Generate Your MCU Result to Your Own MCU Certificate Automatically</p>
                </div>
            </div>
            <div class="card rounded border" style="width: 18rem;">
                <img src="static/MCU/images/pemeriksaan.png" class="card-img-top" alt="MCU Activity">
                <div class="service-overlay"></div>
                <a href="#" class="btn px-4 btn-outline-light btn-services">See More</a>
                <div class="card-body rounded-bottom bg-light text-dark p-0">
                    <h5 class="card-title bg-primary px-3 py-2 text-light text-center fw-bold">Generate Your Certificate</h5>
                    <p class="card-text text-secondary px-3 pb-2 text-truncate-4" style="text-align: justify;">This Website Will Generate Your MCU Result to Your Own MCU Certificate Automatically</p>
                </div>
            </div>
            <div class="card rounded border" style="width: 18rem;">
                <img src="static/MCU/images/certificate.png" class="card-img-top" alt="MCU Certificate">
                <div class="service-overlay"></div>
                <a href="#" class="btn px-4 btn-outline-light btn-services">See More</a>
                <div class="card-body rounded-bottom bg-light text-dark p-0">
                    <h5 class="card-title bg-primary px-3 py-2 text-light text-center fw-bold">Generate Your Certificate</h5>
                    <p class="card-text text-secondary px-3 pb-2 text-truncate-4" style="text-align: justify;">This Website Will Generate Your MCU Result to Your Own MCU Certificate Automatically</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimoni Section -->
<section id="testimonials" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4 fw-bold">Apa Kata Mereka?</h2>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card p-4">
                    <p class="card-text">"Pelayanan yang sangat memuaskan, cepat, dan profesional."</p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-2">
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                        </div>
                        <strong>- Budi Santoso</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-4">
                    <p class="card-text">"Pemeriksaan yang komprehensif dan ramah di kantong."</p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-2">
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                        </div>
                        <strong>- Indah Pratiwi</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}