{% extends "MCU/layout/base.html" %}

{% block title %}
Portal - Medical Check UP PT XXX
{% endblock %}

{% block content %}

<section class="pt-2">
    <div id="portal" class="container shadow border rounded d-flex align-items-stretch overflow-hidden px-0" style="height: 87vh; margin-top: 20px;">
        <div id="hero-portal" class="w-100 w-md-50 bg-primary text-white transition hero-left d-none d-md-flex flex-column justify-content-center">
            <div class="d-flex justify-content-center">
                <img class="mb-3" src="static/MCU/images/LogoLight.png" style="width: 80px;" alt="Logo MCU XXX">
            </div>
            <h2 id="hero-title" class="text-center mb-3 fw-bold transition">Your Health Matters!</h2>
            <div class="d-flex justify-content-center">
                <img id="portal-image" src="static/MCU/images/signin-hero.png" class="w-50" height="230" alt="Sign In MCU">
            </div>
            <p id="hero-text" class="text-center fw-bold mt-3 mb-0">Stay informed about your Medical Check-Up results</p>
        </div>
        <div id="form-portal" class="w-100 w-md-50 text-dark transition py-0 form-right bg-white d-flex flex-column justify-content-center">
            <div id="image-form" class="d-flex justify-content-center">
                <img src="static/MCU/images/LogoPrimary.png" width="80px" alt="Logo PT. XXX">
            </div>
            <h2 id="form-title" class="text-center mb-0 mt-2 fw-bold">Welcome Back!</h2>
            <p id="form-text" class="text-center fst-italic text-secondary mb-2">Sign in to access your health reports and services</p>
            <form id="form-signin" method="POST" action="" class="d-flex flex-column align-items-center">
                {% csrf_token %}
                <div class="form-group w-75">
                    <input type="email" class="form-control pe-5" id="email" name="email" required placeholder=" " maxlength="150"/>
                    <label for="email" class="form-label">Email</label>
                    <label for="email" class="position-absolute top-50 translate-middle" style="right: -20px"><i style="padding: 12px;" class="btn btn-primary fas fa-at"></i></label>
                </div>
                <div class="form-group w-75">
                    <input type="password" class="form-control pe-5 password-input" id="password" name="password" required placeholder=" " maxlength="150"/>
                    <label for="password" class="form-label">Password</label>
                    <label for="password" class="position-absolute top-50 translate-middle" style="right: -20px"><i style="padding: 12px;" id="toggle-password" class="btn btn-primary fas fa-lock"></i></label>
                </div>
                <div class="form-check w-75">
                    <input class="form-check-input" type="checkbox" value="" id="remember">
                    <label class="form-check-label" for="remember">
                        Remember me
                    </label>
                </div>
                <button id="btn-SignIn" type="submit" class="btn btn-primary w-75 mx-auto mt-2">Sign In</button>
            </form>

            <form id="form-signup" method="POST" action="" class="d-flex flex-column align-items-center d-none">
                {% csrf_token %}
                <div class="form-group w-75">
                    <input type="email" class="form-control pe-5" id="email-sign-up" name="email-sign-up" required placeholder=" " maxlength="150"/>
                    <label for="email-sign-up" class="form-label">Email</label>
                    <label for="email-sign-up" class="position-absolute top-50 translate-middle" style="right: -20px"><i style="padding: 12px;" class="btn btn-primary fas fa-at"></i></label>
                </div>
                <div class="form-group w-75">
                    <input type="username" class="form-control pe-5" id="username" name="username" required placeholder=" " maxlength="150"/>
                    <label for="username" class="form-label">Username</label>
                    <label for="username" class="position-absolute top-50 translate-middle" style="right: -20px"><i style="padding: 12px;" class="btn btn-primary fas fa-user"></i></label>
                </div>
                <div class="form-group w-75">
                    <input type="password" class="form-control pe-5 password-input" id="password-sign-up" name="password-sign-up" required placeholder=" " maxlength="150"/>
                    <label for="password-sign-up" class="form-label">Password</label>
                    <label for="password-sign-up" class="position-absolute top-50 translate-middle" style="right: -20px"><i style="padding: 12px;" id="toggle-password-signup" class="btn btn-primary fas fa-lock"></i></label>
                </div>
                <div class="form-group w-75">
                    <input type="password" class="form-control pe-5 password-input" id="confirm-password" name="confirm-password" required placeholder=" " maxlength="150"/>
                    <label for="confirm-password" class="form-label">Password Confirmation</label>
                    <label for="confirm-password" class="position-absolute top-50 translate-middle" style="right: -20px">
                        <i style="padding: 12px;" id="toggle-password-confirm" class="btn btn-primary fas fa-lock"></i>
                    </label>
                </div>
                <div class="form-check w-75">
                    <input class="form-check-input" type="checkbox" value="" id="agreement">
                    <label class="form-check-label" for="agreement">
                        I agree to the <span class="text-primary fw-bold">Terms & Condition</span> and <span class="text-primary fw-bold">Privacy Policy</span>.
                    </label>
                </div>
                <button id="btn-SignUp" type="submit" class="btn btn-primary w-75 mx-auto mt-2">Sign Up</button>
            </form>

            <div class="d-flex justify-content-center gap-2 mt-2">
                <p id="btn-change-text" class="text-center text-secondary my-auto">Don't have an account? </p>
                <button id="btn-change" class="btn border-0 p-0 fw-bold text-primary btn-portal my-auto">Sign Up</button>
            </div>
        </div>
    </div>
</section>

{% include "MCU/layout/modal.html" with modal_id="failed-modal" modal_title="Failed" modal_message="" modal_button_class="btn-danger" modal_header_class="bg-danger" btn_modal_ok="btn-failed-ok"%}

{% include "MCU/layout/modal.html" with modal_id="success-modal" modal_title="Success" modal_message="" modal_button_class="btn-success" modal_header_class="bg-success" btn_modal_ok="btn-success-ok" btn_modal_cancel="btn-success-cancel" modal_success=True%}

<script>
    let isIn = true;
    const hero = document.getElementById('hero-portal');
    const form = document.getElementById('form-portal');
    const image = document.getElementById('portal-image');
    const heroTitle = document.getElementById('hero-title');
    const heroText = document.getElementById('hero-text');
    const formTitle = document.getElementById('form-title');
    const formText = document.getElementById('form-text');
    const signIn = document.getElementById('form-signin');
    const signUp = document.getElementById('form-signup');
    const btnChange = document.getElementById('btn-change');
    const btnChangeText = document.getElementById('btn-change-text');
    const imageForm = document.getElementById('image-form');

    function resetInput() {
        const inputs = document.querySelectorAll('.form-group input');
        const inputCheck = document.querySelectorAll('.form-check input');
        
        inputs.forEach(function(input) {
            input.value = '';
        });

        inputCheck.forEach(function(input) {
            input.checked = false;;
        });
    }
    resetInput();

    function showModal(modalId, message) {
        document.querySelector(`#${modalId} .modal-body`).innerText = message;
        const modal = new bootstrap.Modal(document.getElementById(modalId));
        modal.show();
    }

    function closeModal(modalId) {
        const modal = bootstrap.Modal.getInstance(document.getElementById(modalId));
        if (modal) {
            modal.hide();
        }
    }
    
    document.getElementById('btn-failed-ok').addEventListener('click', function() {
        closeModal('failed-modal');
    });
    
    document.getElementById('btn-success-ok').addEventListener('click', function() {
        closeModal('success-modal');
        document.getElementById('btn-change').click();
    });
    
    document.getElementById('btn-success-cancel').addEventListener('click', function() {
        closeModal('success-modal');
    });

    document.getElementById('btn-change').addEventListener('click', function() {
        isIn = !isIn;
        
        if (window.innerWidth > 768) {
            hero.classList.toggle('hero-right');
            hero.classList.toggle('hero-left');
            
            form.classList.toggle('form-left');
            form.classList.toggle('form-right');
        }

        if (isIn) {
            image.src = 'static/MCU/images/signin-hero.png';
            heroTitle.textContent = 'Your Health Matters!';
            heroText.textContent = 'Stay informed about your Medical Check-Up results';
            formTitle.textContent = 'Welcome Back!';
            formText.textContent = 'sign in to access your health reports and services';
            btnChangeText.textContent = "Don't have an account?";
            btnChange.textContent = 'Sign Up';
            signIn.classList.remove('d-none');
            signUp.classList.add('d-none');
            imageForm.classList.remove('d-none');
        } else {
            image.src = 'static/MCU/images/signup-hero.png';
            heroTitle.textContent = 'Your Health, Your Privacy';
            heroText.textContent = 'Create an account to secure your medical check-up results';
            formTitle.textContent = 'Create Your Account';
            formText.textContent = 'Sign up to access personalized medical check-up services';
            btnChangeText.textContent = "Already have an account?";
            btnChange.textContent = 'Sign In';
            signIn.classList.add('d-none');
            signUp.classList.remove('d-none');
            imageForm.classList.add('d-none');
        }
        resetInput();
    });

    document.getElementById('form-signup').addEventListener('submit', function(e) {
        e.preventDefault();
        const email = document.getElementById('email-sign-up').value;
        const username = document.getElementById('username').value;
        const password = document.getElementById('password-sign-up').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        const agreement = document.getElementById('agreement').checked;
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
        if (password !== confirmPassword) {
            showModal('failed-modal', 'Password do not match!');
            return;
        }
        
        if (!agreement) {
            showModal('failed-modal', 'You must agree the requirements!');
            return;
        }
    
        fetch('{% url "sign_up" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({
                email: email,
                username: username,
                password: password,
                confirmPassword: confirmPassword,
                agreement: agreement
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                showModal('success-modal', 'Sign Up successfully, do you want to Sign In?');
            } else {
                showModal('failed-modal', data.error);
            }
        })
        .catch(error => showModal('failed-modal', error));
    });

    document.getElementById('form-signin').addEventListener('submit', function(e) {
        e.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
        fetch('{% url "sign_in" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({
                email: email,
                password: password
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.is_staff){
                    window.location.href = '{% url "doctor_management" %}';
                }
                else if (data.role === 1) {
                    window.location.href = '{% url "dashboard_doctor" %}';
                } else {
                    window.location.href = '{% url "dashboard_user" %}';
                }
            } else {
                showModal('failed-modal', data.error);
            }
        })
        .catch(error => showModal('failed-modal', error));
    });    

    function togglePasswordVisibility(passwordInputId, toggleIconId) {
        const passwordInput = document.getElementById(passwordInputId);
        const toggleIcon = document.getElementById(toggleIconId);

        toggleIcon.addEventListener('click', function() {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleIcon.classList.remove('fa-lock');
                toggleIcon.classList.add('fa-unlock');
            } else {
                passwordInput.type = 'password';
                toggleIcon.classList.remove('fa-unlock');
                toggleIcon.classList.add('fa-lock');
            }
        });
    }

    togglePasswordVisibility('password', 'toggle-password');
    togglePasswordVisibility('password-sign-up', 'toggle-password-signup');
    togglePasswordVisibility('confirm-password', 'toggle-password-confirm');

    window.onresize = function() {
        if (window.innerWidth <= 768) {
            hero.classList.remove('hero-right');
            hero.classList.remove('hero-left');
            
            form.classList.remove('form-left');
            form.classList.remove('form-right');
        } else {
            if (isIn) {
                hero.classList.add('hero-left');
                form.classList.add('form-right');
            } else {
                hero.classList.add('hero-right');
                form.classList.add('form-left');
            }
        }
        if (isIn) {
            image.src = 'static/MCU/images/signin-hero.png';
            heroTitle.textContent = 'Your Health Matters!';
            heroText.textContent = 'Stay informed about your Medical Check-Up results';
            formTitle.textContent = 'Welcome Back!';
            formText.textContent = 'sign in to access your health reports and services';
            btnChangeText.textContent = "Don't have an account?";
            btnChange.textContent = 'Sign Up';
            signIn.classList.remove('d-none');
            signUp.classList.add('d-none');
            imageForm.classList.remove('d-none');
        } else {
            image.src = 'static/MCU/images/signup-hero.png';
            heroTitle.textContent = 'Your Health, Your Privacy';
            heroText.textContent = 'Create an account to secure your medical check-up results';
            formTitle.textContent = 'Create Your Account';
            formText.textContent = 'Sign up to access personalized medical check-up services';
            btnChangeText.textContent = "Already have an account?";
            btnChange.textContent = 'Sign In';
            signIn.classList.add('d-none');
            signUp.classList.remove('d-none');
            imageForm.classList.add('d-none');
        }
        resetInput();
    };
</script>

{% endblock %}
