<!-- Testimoni start -->
<section id="testimonials" class="py-5">
    <div class="container py-5">
        <h2 class="text-center fw-bold text-primary">OUR TESTIMONIALS</h2>
        <p class="lead mb-5 text-secondary text-center"><i>What Our Clients Say About Us</i></p>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card p-4">
                    <p class="card-text text-truncate-4 text-justify">"From the moment I registered for my medical check-up, the process was seamless. The staff was professional, and the examination was thorough. I received my medical certificate quickly, and the entire experience exceeded my expectations."</p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-2">
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                        </div>
                        <strong>- Budi Santoso</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-4">
                    <p class="card-text text-truncate-4 text-justify">"The medical team at PT. XXX was incredibly attentive and made the check-up process so comfortable. Their facilities are top-notch, and I felt reassured knowing I was in good hands. I would definitely recommend their services to anyone seeking a comprehensive health assessment."</p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-2">
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                        </div>
                        <strong>- Indah Pratiwi</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimoni end -->