<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
    <div class="modal-dialog w-75 w-md-50 position-absolute top-50 start-50 translate-middle" role="document">
        <div class="modal-content">
            <div class="modal-header {{ modal_header_class }} text-white py-3">
                <h6 class="modal-title" id="{{ modal_id }}Label">{{ modal_title }}</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center py-4">
                {{ modal_message }}
            </div>
            <div class="modal-footer w-100 d-flex justify-content-center gap-2 py-1">
                <button id="{{ btn_modal_ok }}" type="button" class="btn {{ modal_button_class }}" data-bs-dismiss="modal">OK</button>
                
                {% if modal_success %}
                <button id="{{ btn_modal_cancel }}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
