{% extends "base.html" %}

{% block title %}
Dashboard - Medical Check UP PT XXX
{% endblock %}

{% block content %}
<section class="pt-2">
    <div class="container d-flex align-items-center" style="height: 87vh; margin-top: 20px;">
        <div id="form-portal" class="w-100 text-dark transition py-0 form-right bg-white d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-column flex-md-row gap-3 justify-content-center align-items-center mb-3">
                <div id="image-form" class="d-flex justify-content-center">
                    <img src="static/MCU/images/LogoPrimary.png" width="70px" alt="Logo PT. XXX">
                </div>
                <h3 id="form-title" class="text-center mb-0 mt-2 fw-bold">Create Doctor Account!</h3>
            </div>

            <form id="form-signup" method="POST" action="" class="d-flex flex-column align-items-center">
                {% csrf_token %}
                <div class="form-group" style="width: 90%;">
                    <input type="email" class="form-control pe-5" id="email-sign-up" name="email-sign-up" required placeholder=" " maxlength="150"/>
                    <label for="email-sign-up" class="form-label">Email</label>
                    <label for="email-sign-up" class="position-absolute top-50 translate-middle" style="right: -20px"><i style="padding: 12px;" class="btn btn-primary fas fa-at"></i></label>
                </div>
                <div class="form-group" style="width: 90%;">
                    <input type="username" class="form-control pe-5" id="username" name="username" required placeholder=" " maxlength="150"/>
                    <label for="username" class="form-label">Username</label>
                    <label for="username" class="position-absolute top-50 translate-middle" style="right: -20px"><i style="padding: 12px;" class="btn btn-primary fas fa-user"></i></label>
                </div>
                <div class="form-group" style="width: 90%;">
                    <input type="password" class="form-control pe-5 password-input" id="password-sign-up" name="password-sign-up" required placeholder=" " maxlength="150"/>
                    <label for="password-sign-up" class="form-label">Password</label>
                    <label for="password-sign-up" class="position-absolute top-50 translate-middle" style="right: -20px"><i style="padding: 12px;" id="toggle-password-signup" class="btn btn-primary fas fa-lock"></i></label>
                </div>
                <div class="form-group" style="width: 90%;">
                    <input type="password" class="form-control pe-5 password-input" id="confirm-password" name="confirm-password" required placeholder=" " maxlength="150"/>
                    <label for="confirm-password" class="form-label">Password Confirmation</label>
                    <label for="confirm-password" class="position-absolute top-50 translate-middle" style="right: -20px">
                        <i style="padding: 12px;" id="toggle-password-confirm" class="btn btn-primary fas fa-lock"></i>
                    </label>
                </div>
                <div class="form-check" style="width: 90%;">
                    <input class="form-check-input" type="checkbox" value="" id="agreement">
                    <label class="form-check-label" for="agreement">
                        I agree to the <span class="text-primary fw-bold">Terms & Condition</span> and <span class="text-primary fw-bold">Privacy Policy</span>.
                    </label>
                </div>
                <button id="btn-SignUp" type="submit" class="btn btn-primary mx-auto mt-2" style="width: 90%;">Create</button>
            </form>
        </div>
    </div>
</section>

{% include "MCU/layout/modal.html" with modal_id="failed-modal" modal_title="Failed" modal_message="" modal_button_class="btn-danger" modal_header_class="bg-danger" btn_modal_ok="btn-failed-ok"%}

{% include "MCU/layout/modal.html" with modal_id="success-modal" modal_title="Success" modal_message="" modal_button_class="btn-success" modal_header_class="bg-success" btn_modal_ok="btn-success-ok"%}

<script>
    function resetInput() {
        const inputs = document.querySelectorAll('.form-group input');
        const inputCheck = document.querySelectorAll('.form-check input');
        
        inputs.forEach(function(input) {
            input.value = '';
        });

        inputCheck.forEach(function(input) {
            input.checked = false;;
        });
    }
    resetInput();

    function showModal(modalId, message) {
        document.querySelector(`#${modalId} .modal-body`).innerText = message;
        const modal = new bootstrap.Modal(document.getElementById(modalId));
        modal.show();
    }

    function closeModal(modalId) {
        const modal = bootstrap.Modal.getInstance(document.getElementById(modalId));
        if (modal) {
            modal.hide();
        }
    }

    document.getElementById('btn-failed-ok').addEventListener('click', function() {
        closeModal('failed-modal');
    });
    
    document.getElementById('btn-success-ok').addEventListener('click', function() {
        closeModal('success-modal');
    });

    document.getElementById('form-signup').addEventListener('submit', function(e) {
        e.preventDefault();
        const email = document.getElementById('email-sign-up').value;
        const username = document.getElementById('username').value;
        const password = document.getElementById('password-sign-up').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        const agreement = document.getElementById('agreement').checked;
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
        if (password !== confirmPassword) {
            showModal('failed-modal', 'Password do not match!');
            return;
        }
        
        if (!agreement) {
            showModal('failed-modal', 'You must agree the requirements!');
            return;
        }
    
        fetch('{% url "create_doctor" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({
                email: email,
                username: username,
                password: password,
                confirmPassword: confirmPassword,
                agreement: agreement
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                showModal('success-modal', 'Sign Up successfully!');
            } else {
                showModal('failed-modal', data.error);
            }
        })
        .catch(error => showModal('failed-modal', error));
        resetInput();
    });

    function togglePasswordVisibility(passwordInputId, toggleIconId) {
        const passwordInput = document.getElementById(passwordInputId);
        const toggleIcon = document.getElementById(toggleIconId);

        toggleIcon.addEventListener('click', function() {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleIcon.classList.remove('fa-lock');
                toggleIcon.classList.add('fa-unlock');
            } else {
                passwordInput.type = 'password';
                toggleIcon.classList.remove('fa-unlock');
                toggleIcon.classList.add('fa-lock');
            }
        });
    }

    togglePasswordVisibility('password-sign-up', 'toggle-password-signup');
    togglePasswordVisibility('confirm-password', 'toggle-password-confirm');
</script>
{% endblock %}